<!doctype html>
<html>
	<head>
		<title>iuiTable</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
		<link rel="stylesheet" href="lib/dist/iui-table.css">
    <style type="text/css">
      .container-fluid {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }
      .agencyCustomClass {
        width: 200px;
      }

      .dropdown-menu>li.checkbox {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 6px;
      }

      .dropdown-menu>li.checkbox>label {
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
      }

    </style>
    <script src="lib/dist/iui-table.min.js"></script>
		<script>
			var app = angular.module('app', ['iui.table']);
      app.root = '/';
      app.constant('_', window._);
      app.controller('tableTestController', [function() {
        var tableTest = this;
        tableTest.displayColumns = [
          {
            field: 'codeName',
            displayName: 'Code Name',
            columnClass: 'code-name-custom-class',
						visible: true
          },
          {
            field: 'name',
            displayName: 'Real Name',
            columnClass: 'code-name-custom-class',
            visible: false
          },
          {
            field: 'agency',
            displayName: 'Agency',
            columnClass: 'agencyCustomClass',
						visible: true
          }
        ];
        tableTest.rowData = [
          {
            name: 'Maxwell Smart',
            codeName: 'Agent 86',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 99',
            agency: 'CONTROL'
          },
          {
            codeName: 'Mr. Big',
            agency: 'KAOS'
          },
          {
            codeName: 'The Chief',
            agency: 'CONTROL'
          },
          {
            codeName: 'Hymie the Robot',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 8',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 13',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 44',
            agency: 'CONTROL'
          },
          {
            codeName: 'Ludwig Von Siegfried',
            agency: 'KAOS'
          },
          {
            codeName: 'Shtarker',
            agency: 'KAOS'
          },
          {
            codeName: 'The Claw',
            agency: 'KAOS'
          },
          {
            codeName: 'Spinoza',
            agency: 'KAOS'
          },
          {
            codeName: 'Fang',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 1',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 2',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 3',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 4',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 5',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 6',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 7',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 9',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 10',
            agency: 'CONTROL'
          },
          {
            codeName: 'Agent 11',
            agency: 'CONTROL'
          }
        ];
      }]);
		</script>
	</head>
	<body ng-app="app" ng-controller="tableTestController as tableTest">
		<div class="container-fluid">
      <h1>iui-table</h1>
      <div class="clearfix">
        <div class="btn-group pull-right" ng-class="{'open':tableTest.dropdownOpen}">
          <button 
            class="btn btn-default dropdown-toggle" 
            type="button" id="dropdownMenu1" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            ng-click="tableTest.dropdownOpen = !tableTest.dropdownOpen"
            aria-expanded="{{tableTest.dropdownOpen}}">
            Columns
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="gridColumn in tableTest.displayColumns" class="checkbox">
              <label>
                <input ng-disabled="((tableTest.displayColumns | filter:{visible:'!false'}).length < 2) && gridColumn.visible" type="checkbox" ng-model="gridColumn.visible">
                {{gridColumn.displayName}}
              </label>
            </li>
          </ul>
        </div>
      </div>
			<iui-table
				display-columns="tableTest.displayColumns"
				row-data="tableTest.rowData"
				table-class="'table-names'"
        page-size="10"
				table-caption="'Table of Names'"></iui-table>
		</div>
	</body>
</html>
