<!doctype html>
<html ng-app="styleGuideApp" ng-controller="SGMainCtrl">
  <head>
    <title>iui-table Style Guide: <%= title %></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="../lib/dist/iui-table.min.js"></script>
    <script src="scripts/style_guide_app.js"></script>
    
    <link rel="stylesheet" href="http://medseek-engineering.github.io/iui-general/style-guide/stylesheets/main.css">
    <link rel="stylesheet" href="../lib/dist/iui-table.css">
  </head>
  <body role="document" class="sg-body">
    <header class="sg-header clearfix" role="banner">
      <h1 class="sg-title">
        <a href="index.html">
            <img src="images/sg-empower-revised-logo.svg" alt="iui-table Revised Style Guide logo" class="sg-empower-logo">
        </a>
      </h1>
      <nav class="navbar navbar-default sg-nav-main">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sg-navbar-main" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="sg-navbar-main">
            <ul class="nav navbar-nav">              
              <% @categories.each do |category, file_name| %>
              <li<%=(title == category) ? ' class="active"' : '' %> role="presentation">
                <a role="menuitem" href="<%= file_name %>"><%= category %></a>
              </li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <main class="sg-wrapper clearfix" role="main">
        <aside class="sg-sidebar hidden-xs" role="complementary">
            <nav class="sg-nav-secondary" role="navigation">
                <ul role="menu">
                  <% @blocks.each do |b| %>
                  <li role="presentation" <%= "class='sg-is-parent-item'" if b[:parent] == nil %>>
                    <a href="" ng-click="scrollTo('<%= b[:name] %>')"><%= b[:title] %></a>
                  </li>
                  <% end %>
                </ul>
            </nav>
        </aside>
        <div class="sg-element-wrapper" id="top">
          <iui-alert-placeholder id="alert_appTop"></iui-alert-placeholder>
